<p id="notice"><%= notice %></p>

<p>
  <b>Bank:</b>
  <%= @account.bank %>
</p>

<p>
  <b>Agency:</b>
  <%= @account.agency %>
</p>

<p>
  <b>Number:</b>
  <%= @account.number %>
</p>

<p>
  <b>Funds cents:</b>
  <%= @account.funds_cents %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
